<div data-bind="with: window.todoApp.itemListViewModel">
    <p>My List</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: desc"></td>
            </tr>

        </tbody>
    </table>
</div>
